ENVIRONMENT=development
DEPLOYMENT=local
DOMAIN=localhost
GITHUB_REPOSITORY=your_github_user/reknotes
DATABASE_URL=postgresql://reknotes:reknotes@localhost:5432
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=reknotes
S3_SECRET_ACCESS_KEY=reknotes
S3_BUCKET_NAME=reknotes
CLOUDFLARE_ACCOUNT_ID=dummy
CLOUDFLARE_API_TOKEN=dummy
OAUTH2_PROXY_CLIENT_ID=github_oauth_app_client_id
OAUTH2_PROXY_CLIENT_SECRET=github_oauth_app_client_secret
OAUTH2_PROXY_COOKIE_SECRET=url_safe_base64_32_bytes
