ENVIRONMENT=development
DEPLOYMENT=local
POSTGRES_PASSWORD=reknotes
DATABASE_URL=postgresql://reknotes:reknotes@localhost:5432
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET_NAME=reknotes
CLOUDFLARE_ACCOUNT_ID=dummy
CLOUDFLARE_API_TOKEN=dummy
IMAGE_TAG=dummy
