{% layout 'base' %}
{% block content %}
<div id="graph-container" class="graph-fullscreen"></div>
<script src="/static/js/force-graph.min.js"></script>
<script src="/static/js/graph.js"></script>
{% endblock %}
