{% layout 'base' %}
{% block content %}
<div class="graph-layout">
  <div id="graph-container" class="graph-main"></div>
  <aside id="graph-panel" class="graph-panel" hidden>
    <button id="panel-close" class="panel-close" aria-label="閉じる">&times;</button>
    <div id="panel-content"></div>
  </aside>
</div>
<script>
  // JS ダウンロードと並列にデータを先行フェッチ
  window.__graphDataPromise = fetch("/api/graph").then(function (r) { return r.json(); });
</script>
<script src="/static/js/force-graph-3d.js"></script>
<script src="/static/js/graph.js"></script>
{% endblock %}
